[Desktop Entry]
Name=Dock at home
Comment=Dock laptop to monitor at homw
Icon=utilities-terminal
Exec=bash -c "~/.bin/dock-at-home"
Terminal=false
Type=Application
Categories=System;