[Desktop Entry]
Name=Dock at work
Comment=Dock laptop to monitor at work
Icon=utilities-terminal
Exec=bash -c "~/.bin/dock-at-work"
Terminal=false
Type=Application
Categories=System;