[Desktop Entry]
Name=Sync my projects
Comment=Sync my projects directory to Solaris
Icon=utilities-terminal
Exec=bash -c "~/.bin/go-sync-my-projects && printf '\033[33mSync complete. \nPress any key to exit..\033[0m\n' && read -n 1"
Terminal=true
Type=Application
Categories=System;