[Desktop Entry]
Name=Undock to go mobile
Comment=Undock laptop from monitor to go mobile
Icon=utilities-terminal
Exec=bash -c "~/.bin/undock"
Terminal=false
Type=Application
Categories=System;